@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-blue: #1e43ff;
  --secondary-blue: #3a5aff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  -webkit-font-smoothing: 'antialiased';
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    110deg,
    rgba(39, 75, 255, 1) 40%,
    rgba(49, 82, 255, 1) 54%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
